<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head_app">
	
</head>
<body style="background-image: url(https://www.finedininglovers.com/es/sites/g/files/xknfdk1706/files/2022-07/cocktail-garnishes-onions%C2%A9iStock.jpeg) ;background-repeat: no-repeat">


	<!-- SIDEBAR -->
	<section id="sidebar" th:replace="/fragments/navGeneral">
		
	</section>
	
	<section id="content">
		<!-- NAVBAR -->
		<nav > 
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Buscar</a>
			<form action="#">
				<div class="form-input">
                                    
                                    
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
                        <input type="checkbox" id="switch-mode" value="check">
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
                            <img src="../img/barra6.jpg">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
                <main >
                  
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="../script.js"></script>
</body>
</html>